body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.cabecalho input {
    padding: 0.5em;
    width: 50%;
    margin-top: 10px;
}

.conteudo {
    width: 80%;
    margin: 2em auto;
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo{
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #333;
}

.image-conteudo, .map-conteudo {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.image-conteudo img, .map-conteudo img {
    width: 100%;
    border-radius: 8px;
}

.descricao {
    margin-top: 1em;
    line-height: 1.6em;
}

.contatos {
    margin-top: 2em;
}

.contatos a {
    display: block;
    bottom 
    margin: 0.5em 0;
    color: #333;
    text-decoration: none;
}
